on:
  workflow_dispatch:
  push: {branches: main}

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/upload-pages-artifact@v2
        with:
          path: .
      - uses: actions/configure-pages@v3
      - id: deployment
        uses: actions/deploy-pages@v2
